{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <p>Customer Information:</p>
                    
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country..">
                    </div>
                    <br>
                    <hr>
                    <p>Order Pickup Information:</p>
                    
                    <div class="form-field">
                        <label for="pickup_time">Date and Time of Pick-Up</label>
                        <input required class="form-control" type="datetime-local" id="pickup_time" name="pickup_time" min="08:00:00" max="18:00:00">
                    </div><br><br>
                    <div class="form-field">
                        <label for="pickup_type">Pick-Up Method</label><br>
                        <input required type="radio" id="in-store" name="pickup_type" value="in-store">
                        <label for="in-store">In-store</label>
                        <input required type="radio" id="curbside" name="pickup_type" value="curbside">
                        <label for="curbside">Curbside</label>
                    </div>
                    <br>
                </div>

                <hr>
                <input id="make-payment" class="btn btn-success btn-block" type="submit" value="Process Order">

            </form>
        </div>
    
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2">
                    <p>{{item.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>${{item.product.price}}</p>
                </div>
                <div style="flex:1">
                    <p>x{{item.quantity}}</p>
                </div>
            </div>
            {% endfor %}

            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'

    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    var form = document.getElementById('form')

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('form submitted...')
    })

    document.getElementById('make-payment').addEventListener('click', function (e) {
        submitFormData()
    })

    function submitFormData() {
        console.log('Process order button clicked...')

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
            'pickup_time': null,
            'pickup_type': null,
        }

        
        var pickupInfo = {
            'pickup_time': null,
            'pickup_type': null,
        }
        

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value

            pickupInfo.pickup_time = form.pickup_time.value
            pickupInfo.pickup_type = form.pickup_type.value
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        console.log('Pickup Info:', pickupInfo)

        var url = '/process_order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo, 'pickup': pickupInfo })
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Succes! Your order will be processed and ready for pickup.');
                window.location.href = "{% url 'store' %}"
            })
    }
</script>

{% endblock content %}